{
  "plugins": [
    "@babel/transform-runtime",
    "@babel/proposal-class-properties",
    "@babel/proposal-decorators",
    "@babel/transform-modules-commonjs"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "6.0"
        }
      }
    ],

    "@babel/react",
    "@babel/stage-0"
  ]
}
